################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/fdfd4464-0397-4335-8c08-0494891fc444.vsidx
/.vs/Calculator/FileContentIndex/f7a1bcb7-d8c8-4d08-841b-84365d215224.vsidx
