################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/fdfd4464-0397-4335-8c08-0494891fc444.vsidx
